<template>
  <v-dialog v-model="dialog">
    <template v-slot:activator="{ on, attrs }">
      <v-btn v-bind="attrs" v-on="on">
        Дай оценка
      </v-btn>
      <v-rating
        :value="rating?rating:0"
        color="yellow darken-3"
        background-color="grey darken-1"
        empty-icon="$ratingFull"
        class="ma-auto"
        small
        @change="dialog = true"
        @click="dialog  = true"

      ></v-rating>
    </template>

    <v-card max-height="25vh">
      <v-card-title class="text-center">
        <v-rating
          v-model="ratiing"
          disabled
          color="yellow darken-3"
          background-color="grey darken-1"
          empty-icon="$ratingFull"
          class="ma-auto"
          small
        ></v-rating>
      </v-card-title>
      <v-card-text>
        <v-text-field v-model="comment" label="Коментар">

        </v-text-field>
      </v-card-text>
      <v-card-actions>
        <v-btn color="primary" @click="rate()">
          <v-icon>mdi-send</v-icon>
          Изпрати
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'GiveRating',
  props: ['rating', 'place_id', 'menu_item_id'],
  data: () => ({
    comment: '',
    dialog: false,
    ratiing: 0
  }),
  computed: {
    user: {
      get () {
        return this.$store.getters.getUser
      }
    }
  },
  methods: {
    rate () {
      let self = this
      this.post('auth/rating/create', {
        user_id: this.user.id,
        place_id: this.place_id,
        menu_item_id: this.menu_item_id,
        rating: this.ratiing,
        comment: this.comment
      }).then(r => {
        self.comment = ''
      })
    }
  }
}
</script>

<style scoped>

</style>
