<template>
  <v-container fluid>

    <v-row>
      <infinite-loading direction="bottom" @infinite="infiniteHandler"></infinite-loading>


      <transition-group style="max-width: 100vw" class="row mx-auto" type="transition" name="flip-list">
        <template v-for="(category,i) in categories">
          <v-col cols="6" :key="category.id">
            <app-category :category="category" :auth="auth"></app-category>
          </v-col>

        </template>
      </transition-group>


    </v-row>

  </v-container>
</template>

<script>
import Category from './Category'
import InfiniteLoading from 'vue-infinite-loading'
export default {
  name: 'hello',
  components: {
    AppCategory: Category,
    InfiniteLoading
  },
  data () {
    return {
      categories: [],
      auth: false,
      skip: 0,
      load: true
    }
  },
  methods: {
    infiniteHandler ($state) {
      if (this.load) {
        let self = this
        $state.loaded()
        this.load = false
        this.get(`place/${this.$route.params.place_id}/menu/skip/${this.skip}`).then(r => {
          if (r.categories.length === 0) {
            self.load = false
          } else {
            r.categories.forEach(category => {
              self.categories.push(category)
            })
            self.skip += 10
            self.load = true
          }
        })
        $state.complete()
      }
    },
    fetchCategories () {
      let self = this
      this.get(`place/${this.$route.params.place_id}/menu/skip/${this.skip}`).then(r => {
        self.categories = r.categories
        self.skip += 10
      })
    }
  },
  async mounted () {
    await this.fetchCategories()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.flip-list-move {
  transition: transform 0.5s;
}

.no-move {
  transition: transform 0s;
}

.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
</style>
