<template>
  <section>
    <v-card style="background-color: transparent"

            :to="`/${this.$route.params.place_id}/menu/${category.id}/${category.menu_subcategories.length?category.menu_subcategories[0].id:0}`">

      <v-img :src="!category.img_url?`${$domain}imagecache/low/${category.image.substr(6,100)}`:category.img_url" height="15vh" contain
             :lazy-src="!category.img_url?`${$domain}${category.image}`:category.img_url">
      </v-img>
      <!--    <v-icon x-large class="ma-auto text-center" color="#d4a26f">-->
      <!--      mdi-food-drumstick-->
      <!--    </v-icon>-->
      <h1 class="text-center">{{category.name}}</h1>
      <h4 class="title text-center" @click="showSubcategories = !showSubcategories">
        <v-btn small icon @click.prevent="">
          <v-icon>{{ showSubcategories ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
        </v-btn>
      </h4>

      <v-card-text v-if="showSubcategories" @click.prevent="show = true">
        <template v-for="subcategory in category.menu_subcategories">
          <h4 class="text-center" style="font-size: 12px" :key="subcategory.id"
              @click.self="redirectWithRouter(`/${$route.params.place_id}/menu/${category.id}/${subcategory.id}`)"
          >{{ subcategory.name }}</h4>
          <v-divider style="max-width: 50%" class="mx-auto"></v-divider>
        </template>
      </v-card-text>
    </v-card>
  </section>
</template>

<script>
export default {
  name: 'Category',
  props: ['category', 'auth'],
  components: {},
  data: () => ({
    showSubcategories: false
  })
}
</script>

<style scoped>

</style>
