<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      fullscreen

      transition="dialog-bottom-transition"

    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn v-if="!auth" v-on="on" bottom
               fab fixed style="z-index: 999;" >
          <v-icon>{{ dialog ? 'mdi-close' : 'mdi-dots-vertical' }}</v-icon>
        </v-btn>

      </template>
      <v-card
        style='background-image:url("https://cdn4.vectorstock.com/i/1000x1000/77/93/restaurant-menu-design-on-wood-background-vector-3417793.jpg")'>
        <app-categories></app-categories>

      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import Categories from './Categories'

export default {
  name: 'CategoriesMenu',
  props: ['auth'],
  data: () => ({
    dialog: false
  }),
  components: {
    appCategories: Categories
  }
}
</script>

<style scoped>

</style>
