<template>
  <v-container class="text-center">
    <v-btn-toggle group>
      <v-btn  @click="getFavourites('places')">
        <v-icon class="pr-2">
          mdi-map-marker
        </v-icon>
        Заведения
      </v-btn>
      <v-btn @click="getFavourites('menu_items')">
        <v-icon class="pr-2" >
          mdi-silverware-fork-knife
        </v-icon>
        Меню
      </v-btn>
    </v-btn-toggle>
    <v-row>
      <template v-for="favourite in favourites">
        <v-col cols="6" :key="favourite.id">
          <app-place :place="favourite.place" v-if="favourite.place_id" :city="favourite.place.cities[0].city.name" :favourites="true"></app-place>
          <app-product :product="favourite.menu_item" v-if="favourite.menu_item_id" ></app-product>
        </v-col>
      </template>
    </v-row>
  </v-container>
</template>

<script>
import Place from '../Places/Place'
import Product from '../Menu/Products/Product'

export default {
  name: 'Favourites',
  data: () => ({
    favourites: []
  }),
  components: {
    appPlace: Place,
    appProduct: Product
  },
  methods: {
    getFavourites (locaction = 'places') {
      let self = this
      this.get(`auth/favourites/${locaction}/get`).then(r => {
        self.favourites = r.favourites
      })
    }
  },
  created () {
    this.getFavourites()
  }
}
</script>

<style scoped>

</style>
