<template>
  <v-container fluid>
    <v-row>

      <v-col cols="12" class="mx-auto text-center">
        <v-btn-toggle color="primary" v-model="status">
          <!--          <v-btn text>-->
          <!--&lt;!&ndash;            <span class="mt-3 text-center">Чакаща</span>&ndash;&gt;-->
          <!--            <v-icon >-->
          <!--              mdi-calendar-->
          <!--            </v-icon>-->
          <!--          </v-btn>-->
          <v-btn text>
            <!--            <span class="mt-3 text-center">Чакаща</span>-->
            <v-icon>
              mdi-watch
            </v-icon>
          </v-btn>
          <v-btn text>
            <!--            <span class="mt-3 text-center">Одобрена</span>-->
            <v-icon>
              mdi-check
            </v-icon>
          </v-btn>
          <v-btn text>
            <!--            <span class="mt-3 text-center">Отказана</span>-->
            <v-icon>
              mdi-close
            </v-icon>
          </v-btn>
          <v-btn text>
            <!--            <span class="mt-3 text-center">Завършена</span>-->
            <v-icon>
              mdi-flag-checkered
            </v-icon>
          </v-btn>
        </v-btn-toggle>
      </v-col>
      <v-col cols="2" class="float-right mt-2" style="position: absolute; right: 0">
        <v-dialog
          ref="dialog"
          v-model="modal"
          :return-value.sync="date"
          persistent
          width="290px"
        >
          <template v-slot:activator="{ on, attrs }">
            <!--            <v-text-field-->
            <!--              v-model="date"-->
            <!--              label="Дата от - до"-->
            <!--              prepend-inner-icon="mdi-calendar"-->
            <!--              readonly-->


            <!--            ></v-text-field>-->
            <v-btn icon v-bind="attrs"
                   v-on="on">
              <v-icon>mdi-calendar</v-icon>
            </v-btn>
          </template>
          <v-date-picker
            v-model="date"
            scrollable
            range
            color="primary"
          >
            <v-spacer></v-spacer>
            <v-btn
              text
              color="primary"
              @click="modal = false"
            >
              Cancel
            </v-btn>
            <v-btn
              text
              color="primary"
              @click="$refs.dialog.save(date)"
            >
              OK
            </v-btn>
          </v-date-picker>
        </v-dialog>
      </v-col>
      <v-col cols="12">
        <h3 class="title text-center">{{ statuses[status] }}</h3>

      </v-col>
      <!--      <span class="mt-3 text-center">Чакаща</span><br>-->
      <template v-for="(order,i) in orders">
        <div v-if="i%2 == 1">
          <h3 class="subtitle-1">
            {{ '15.' + i.toString() + '.2020' }}

          </h3>
          <hr class="v-divider my-auto">
        </div>

        <v-col cols="12">
          <app-order :i="i" :order="order"></app-order>
        </v-col>
      </template>
    </v-row>
  </v-container>
</template>

<script>
import Order from './Order'

export default {
  name: 'Orders',
  components: {
    appOrder: Order
  },
  data: () => ({
    date: [],
    modal: false,
    orders: [],
    status: 0,
    statuses: ['Чакаща', 'Одобрена', 'Отказана', 'Завършена']
  }),
  methods: {
    getOrders () {
      let self = this
      this.get(`auth/user/orders/status/${this.status + 1}/date/from/${this.date.length < 2 ? '*' : this.date[0]}/to/${this.date.length < 2 ? '*' : this.date[1]}`).then(r => {
        self.orders = r.orders
      })
    }
  },
  watch: {
    status (val) {
      this.getOrders()
    },
    date (val) {
      this.getOrders()
    }
  },
  created () {
    this.getOrders()
  }
}
</script>

<style scoped>

</style>
