<template>
  <v-card @click="show = !show">

    <v-card-title class="text-center">
      {{ order.place.name }}
      <v-spacer>
      </v-spacer>
      {{ orderPrice }} лв
    </v-card-title>

    <v-card-text style="align-content: center" class="text-center">
      <v-btn icon class="mx-auto text-center">

      </v-btn>
      <v-list dense class="text-left  ">
        <template v-for="order_item in order.order_items" v-if="show">
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="grey--text text-subtitle-1">
                {{ order_item.amount }} x {{ order_item.menu_item.name }} -
                {{ order_item.amount * order_item.menu_item.price }}лв.
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

        </template>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="text-center">
              <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-card-text>

  </v-card>
</template>

<script>
export default {
  name: 'Order',
  props: ['i', 'order'],
  data: () => ({
    show: false
  }),
  computed: {
    orderPrice () {
      // eslint-disable-next-line no-unused-vars
      let sum = 0
      // eslint-disable-next-line camelcase
      this.order.order_items.forEach(order_item => {
        sum += order_item.amount * order_item.menu_item.price
      })
      return sum
    }
  }
}
</script>

<style scoped>

</style>
