<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12">
        <app-image-upload-tool :label_text="$t('add_photo')" evt_name="profile-image"></app-image-upload-tool>
      </v-col>
      <v-col cols="12">
        <v-text-field
          :label=" $t('label_name_field')"
          type="text"
          name="name"
          placeholder="Име"
          rounded
          outlined
          v-if="user.name"
          v-model="user.name"
        ></v-text-field>
      </v-col>
      <v-col cols="12">
        <v-text-field
          :label=" $t('label_email_field')"
          type="email"
          name="email"
          v-if="user.email"
          v-model="user.email"
          placeholder="Email"
          outlined
          rounded
        ></v-text-field>
      </v-col>
      <v-col cols="12">
        <v-spacer></v-spacer>
        <v-btn color="primary" outlined rounded block>{{ $t('button_save') }}</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ImageUpload from '../Tools/ImageUpload'

export default {
  name: 'Profile',
  components: {
    appImageUploadTool: ImageUpload
  },
  computed: {
    user: {
      get () {
        return this.$store.getters.getUser
      },
      set (val) {
        this.$store.commit('setUser', val)
      }
    }
  },
  created () {
    this.$EventBus.$on('profile-image', img => {
      console.log(img)
    })
  }
}
</script>

<style scoped>

</style>
