<template>
  <router-view name="b"></router-view>
</template>

<script>
export default {
  name: 'ProfileView',
  computed: {
    user: {
      get () {
        return this.$store.getters.getUser
      },
      set (val) {
        this.$store.commit('setUser', val)
      }
    }
  },
  methods: {
    autoLogin () {
      let self = this
      this.post('auth/me', {}, false).then(r => {
        self.user = r
      }).catch(() => {
        self.$router.push('/auth')
      })
    }
  },
  mounted () {
    this.autoLogin()
  }
}
</script>

<style scoped>

</style>
