<template>
  <section style="left: 0;background-color: #232f3f" v-touch="{
    left: () =>{return} ,
      right: () => {return}}" class="mb-5">
    <swiper :options="swiperOption" class="swiper" ref="swiper" v-touch="{
    left: () =>{return} ,
      right: () => {return}}">

      <swiper-slide
        v-for="event in events"
        :key="event.id"
        style="max-height: 25vh;"
        v-touch="{
    left: () =>{return} ,
      right: () => {return}}">

        <v-img :src="`${$domain}/${event.picture}`" class="align-end text-center text-wrap mt-1 rounded-lg"
               :aspect-ratio="2/1" height="144px" width="144px">
          <!--          <v-overlay :absolute="true">-->
          <!--            <h3 class="text-center text-wrap">{{ event.name }}</h3>-->
          <!--          </v-overlay>-->
        </v-img>


      </swiper-slide>

    </swiper>
    <v-card-actions>
      <v-btn block color="primary" class="my-auto text-none" text>Виж всички събития
        <v-icon>mdi-chevron-right</v-icon>
      </v-btn>

    </v-card-actions>

  </section>
</template>

<script>
export default {
  name: 'Events',
  data: () => ({
    events: [],
    swiperOption: {
      slidesPerView: 2,
      spaceBetween: 5,
      grabCursor: true,
      freestyle: true,
      autoplay: 2500
    }
  }),
  methods: {
    fetchEvents () {
      let self = this
      this.get('events').then(r => {
        self.events = r.events
      })
    }
  },
  created () {
    this.fetchEvents()
  }
}
</script>

<style scoped>

</style>
