<template>
  <v-container>
    <h1 class="title">Детайли за доставката</h1>
    <v-row>
      <v-col cols="6">
        <v-text-field label="Име" v-model="information.name"></v-text-field>
      </v-col>
      <v-col cols="6">
        <v-text-field label="Телефон" v-model="information.phone"></v-text-field>
      </v-col>
      <v-col cols="12">
        <v-text-field label="Адрес" v-model="information.address"></v-text-field>
      </v-col>
      <v-col cols="12">
        <v-text-field label="Email" v-model="information.email"></v-text-field>
      </v-col>

      <v-col cols="12">
        <v-row>
          <v-col cols="12">
            <v-btn color="white" light block @click="createAuthOrder()" rounded class="font-weight-bold"> Поръчай
            </v-btn>

          </v-col>
          <v-col cols="12">
            <v-btn color="white" light block @click="createOrder()" rounded class="font-weight-bold"> Поръчай като
              гост
            </v-btn>

          </v-col>
        </v-row>
      </v-col>

    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'ClientDetails',
  data: () => ({
    information: {
      name: '',
      email: '',
      address: '',
      phone: '',
      place_id: 0,
      table: 'Онлайн',
      items: []
    }
  }),
  methods: {
    createOrder () {
      this.information.place_id = this.$route.params.place_id
      let self = this
      this.post('orders/create', this.information).then(r => {
        self.showAlert('Успешно създадена поръчка')
      })
    },
    createAuthOrder () {
      this.information.place_id = this.$route.params.place_id
      let self = this
      this.post('auth/orders/create', this.information).then(r => {
        self.showAlert('Успешно създадена поръчка')
      })
    }
  },
  created () {
    this.information.items = JSON.parse(localStorage.getItem('order'))
  }
}
</script>

<style scoped>

</style>
