<template>
  <v-container>
    <v-row>
      <template v-for="(item,i) in order">
        <v-col :key="i" cols="12" class="mt-1">
          <app-order-item :item="item"></app-order-item>
        </v-col>
      </template>
    </v-row>
    <v-card flat style="position: fixed;bottom: 0;left: 0;width: 100vw;height: 15vh" class="rounded-t-xl">
      <v-row justify="center">
        <v-col cols="5" class="text-left pt-5">
          <h4>Общо: </h4>
        </v-col>
        <v-col cols="5" class="text-right pt-5">
          <h4>{{ total }}лв</h4>
        </v-col>
        <v-col cols="8">
          <v-btn block outlined :to="`/${$route.params.place_id}/orders/confirm`" rounded color="primary">
            Поръчай
          </v-btn>
        </v-col>
      </v-row>


    </v-card>

  </v-container>
</template>

<script>
import OrderItem from './OrderItem'

export default {
  name: 'CreateOrder',
  components: {
    appOrderItem: OrderItem
  },
  data: () => ({
    order: []
  }),
  methods: {
    getOrder () {
      this.order = JSON.parse(localStorage.getItem('order'))
    },
    addToCart (product) {
      let order = JSON.parse(localStorage.getItem('order'))
      let found = false
      order.forEach(item => {
        if (item.id === product.id) {
          item.quantity++
          product.quantity++
          found = true
        }
      })
      if (!found) {
        order.unshift(product)
      }
      localStorage.setItem('order', JSON.stringify(order))
      this.$EventBus.$emit('add_to_order')
    },
    removeFromCart (product) {
      let order = JSON.parse(localStorage.getItem('order'))
      // order.push(this.product);
      order.forEach((item, i) => {
        if (item.id === product.id) {
          item.quantity--
          product.quantity--

          if (item.quantity <= 0) {
            order.splice(i, 1)
          }
        }
      })
      localStorage.setItem('order', JSON.stringify(order))
      this.$EventBus.$emit('remove_from_order')
    },
    deleteItem (index) {
      let order = JSON.parse(localStorage.getItem('order'))
      order.splice(index, 1)
      this.order = order
      localStorage.setItem('order', JSON.stringify(order))
      this.$EventBus.$emit('remove_from_order')
    }
  },
  computed: {
    total () {
      let total = 0
      this.order.forEach(item => {
        total += item.price * item.quantity
      })
      return total
    }

  },
  created () {
    this.getOrder()
  }
}
</script>

<style scoped>

</style>
