<template>
  <v-dialog v-model="showInfo">
    <v-card flat>
      <v-card-title>
        Порчка №{{ order.id }}
        <v-icon @click="closeDialog()">mdi-close</v-icon>
      </v-card-title>
      <v-card-text>
        <h3>Име:{{ order.name }}</h3>
        <h3>Адрес:{{ order.address }}</h3>
        <h3>Маса:{{ order.table }}</h3>
        <v-select :items="status" v-model="order.status"></v-select>
        <v-subheader>
          Поръчка
        </v-subheader>
        <v-list>
          <template v-for="order_item in order.order_items">
            <v-list-item>
              <v-list-item-title>{{ order_item.menu_item.name }} - {{ order_item.menu_item.price }} X {{ order_item.amount }}
              </v-list-item-title>
            </v-list-item>
          </template>
        </v-list>
      </v-card-text>
      <v-card-actions>
        <h3>Сума {{ paymentAmount }} лв</h3>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'OrderInfo',
  props: ['showInfo', 'order'],
  data: () => ({
    status: ['Обработва се', 'Обработена', 'Изпратена', 'Завършена']
  }),
  methods: {
    closeDialog () {
      this.$EventBus.$emit('close-dialog')
    },

  },
  computed: {
    paymentAmount () {
      let amount = 0
      this.order.order_items.forEach(item => {
        amount += item.amount * item.menu_item.price
      })
      return amount
    }
  }

}
</script>

<style scoped>

</style>
