<template>
  <v-card style="background-color:#232f3f" class="rounded-lg">
    <v-row no-gutters class="mt-0">
      <v-col cols="4" class="">
        <v-img :src="`${$domain}${item.image}`" height="16vh" class="rounded-lg">
          <!--                  <v-btn fab x-small color="white">-->
          <!--                    <v-icon color="primary">mdi-heart</v-icon>-->
          <!--                  </v-btn>-->

        </v-img>
      </v-col>
      <v-col cols="6" class="mt-2 pl-5">

        <h4>{{ item.name }} </h4>
        <v-slide-x-reverse-transition leave-absolute hide-on-leave>
          <v-btn icon small @click="deleteItem(i)" v-if="show">
            <v-icon small>
              mdi-heart
            </v-icon>
          </v-btn>
        </v-slide-x-reverse-transition>
        <v-slide-x-reverse-transition leave-absolute hide-on-leave>

          <v-btn icon small @click="deleteItem(i)" v-if="show">
            <v-icon small>
              mdi-delete
            </v-icon>
          </v-btn>
        </v-slide-x-reverse-transition>
        <v-row no-gutters>
          <v-slide-x-reverse-transition leave-absolute hide-on-leave>
            <v-col cols="5" class="pt-3" v-if="!show">
              <h5 class="  text-left">
                {{ item.weight }}гр
              </h5>
            </v-col>
          </v-slide-x-reverse-transition>
          <v-slide-x-reverse-transition leave-absolute hide-on-leave>
            <v-col cols="7" class="pt-3 float-right  text-right" v-if="!show" >
              <h5 class="font-weight-bold text-right pl-8 " style="font-size: 14px">{{ item.price }}.50 лв.</h5>
            </v-col>
          </v-slide-x-reverse-transition>
        </v-row>
        <v-row no-gutters justify="center" :class="show?'pt-5':'pt-2'">
          <v-col cols="12" class="text-center">
            <v-btn-toggle style="background-color:#232f3f; max-width: 100%" group class="ma-auto ">
              <v-slide-x-reverse-transition leave-absolute hide-on-leave>
                <v-btn outlined small @click="removeFromCart()">
                  <v-icon small>mdi-minus</v-icon>
                </v-btn>
              </v-slide-x-reverse-transition>
              <v-btn outlined @click.stop="" small class="elevation-5 " rounded>
                {{ item.quantity > 0 ? item.quantity : '' }}
              </v-btn>
              <v-slide-x-reverse-transition leave-absolute hide-on-leave>
                <v-btn outlined small>
                  <v-icon small @click="addToCart()">mdi-plus</v-icon>
                </v-btn>
              </v-slide-x-reverse-transition>
            </v-btn-toggle>
          </v-col>

        </v-row>

      </v-col>
      <v-col cols="2" class="my-auto text-right pr-1">
        <v-row >
          <v-col cols="12">
            <v-btn icon small @click="deleteItem(i)" >
              <v-icon small>
                mdi-heart
              </v-icon>
            </v-btn>
          </v-col>
          <v-col cols="12">
            <v-btn icon small @click="deleteItem(i)" >
              <v-icon small>
                mdi-delete
              </v-icon>
            </v-btn>
          </v-col>
        </v-row>

      </v-col>

    </v-row>

  </v-card>
</template>

<script>
export default {
  name: 'OrderItem',
  props: ['item', 'index'],
  data: () => ({
    show: false
  }),
  methods: {
    removeFromCart (item) {
      this.$EventBus.$emit('remove-from-cart', item)
    },
    addToCart (item) {
      this.$EventBus.$emit('add-to-cart', item)
    },
    deleteItem () {
      this.$EventBus.$emit('remove-product', this.index)
    }
  }
}
</script>

<style scoped>

</style>
