<template>
  <section>
    <app-events></app-events>
    <v-row id="places" justify="center">
      <template v-for="place in places">
        <v-col  sm="12" lg="4" :key="place.id">
          <app-place :place="place"></app-place>
        </v-col>
      </template>
    </v-row>
  </section>
</template>

<script>
import Place from './Place'
import Events from '../Events/Events'

export default {
  name: 'Places',
  components: {
    appPlace: Place,
    appEvents: Events
  },
  data: () => ({
    places: []
  }),
  methods: {
    fetchPlaces (scroll = false) {
      let self = this
      // if (this.filters.search === '') {
      //   this.filters.search = '*'
      // } else {
      //   if (this.filters.search[0] === '*') {
      //     this.filters.search.substr(0, 1)
      //   }
      // }
      this.get(`places/type/${this.filters.type}/search/${this.filters.search === ' ' ? '*' : this.filters.search}/city/*`).then(r => {
        self.places = r.places
        if (scroll) {
          self.$EventBus.$emit('show')
        }
      })
    }
  },
  computed: {
    filters: {
      get () {
        return this.$store.getters.getFilters
      },
      set (val) {
        this.$store.commit('setFilters', val)
      }
    }
  },
  created () {
    this.fetchPlaces()
  },
  watch: {
    'filters.type' (val) {
      this.fetchPlaces()
    },
    'filters.search' (val) {
      this.fetchPlaces(true)
      if (val !== ' ') {
        this.$vuetify.goTo('#places')
      }
    }
  }
}
</script>

<style scoped>

</style>
