<template>
  <v-card color="#232f3f" dark :to="`/${place.id}`" rounded :class="favourites?'rounded-xl':'rounded-lg'">
    <v-img :src="`${place.facebook_id?place.profile_image:$domain+place.profile_image}`" height="25vh" class="rounded-lg">

    </v-img>

    <v-container>
      <v-btn  class="float-right mr-2 mt-1" small color="white" absolute fab @click.prevent="addToFavourite()" top right style="transform: translateY(25vh)">
        <v-icon color="primary">
          {{ place.is_liked?'mdi-heart':'mdi-heart-outline' }}
        </v-icon>
      </v-btn>
      <v-row no-gutters>
        <v-col cols="12" class="text-center">
          <h3 class="mb-0 text-center mt-2 ml-2 text-truncate">
            {{ place.name }}
          </h3>
        </v-col>
        <v-col cols="12" class="text-center mb-5">
          <v-rating
            :value="place.rating"
            disabled
            color="yellow darken-3"
            background-color="grey darken-1"
            empty-icon="$ratingFull"
            x-small

          ></v-rating>
        </v-col>
        <v-col cols="12" :class="favourites?'text-center':'text-left'">
          <v-row no-gutters>
            <v-col cols="1">
              <h4>
                <v-icon small>mdi-map-marker</v-icon>
              </h4>
            </v-col>
            <v-col cols="11">
              <h5>
                {{ city ? city : place.city.name }}
              </h5>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" class="text-left" v-if="!city">
          <v-row no-gutters>
            <v-col cols="1">
              <h5>
                <v-icon small>mdi-phone</v-icon>
              </h5>
            </v-col>
            <v-col cols="11">
              <h5>
                {{place.phone }}
              </h5>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
export default {
  name: 'Place',
  props: {
    place: {
      type: Object,
      required: true
    },
    city: {
      type: String,
      required: false
    },
    favourites: {
      type: Boolean,
      required: false,
      default: () => {
        return false
      }
    }
  },
  methods: {
    addToFavourite () {
      let self = this
      this.post('auth/favourites/add', {
        place_id: this.place.id
      }).then(r => {
        self.showAlert('Добавено в любими')
      })
    }
  }
}
</script>

<style scoped>

</style>
