<template>
  <section>
    <v-facebook-login app-id="752879671956207"
                      @sdk-init="handleSdkInit" version="v8.0" style="display: none;">
    </v-facebook-login>
    <v-sheet height="100%" class="ml-0 mr-0 ma-0">

      <v-row class="ma-auto" align-content="center" justify="center">
        <v-col cols="2">
          <v-btn icon @click="prev()">
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
        </v-col>
        <v-col cols="5" v-if="$refs.calendar">
          <h4 class="mt-2 text-center">{{ $refs.calendar.title }}</h4>
        </v-col>
        <v-col cols="2">
          <v-btn icon @click="next()">
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </v-col>
      </v-row>


      <v-calendar
        ref="calendar"
        v-model="start"
        :start="start"
        :end="end"
        :min-weeks="minWeeks"
        :max-days="maxDays"
        :now="now"
        :dark="dark"
        :color="color"
        :events="events"
        type="month"
        style="height: 45vh"
        @click:day="findEvent(start)"
        @click:date="findEvent(start)"

      >
      </v-calendar>
    </v-sheet>
    <v-bottom-sheet v-model="sheet" @focusout="sheet = false">

      <div class="mx-auto ma-auto align-center">
        <v-img
          :src="`https://backend.bookplace.eu/${event.picture}`"
          v-show="event.id"
          max-height="425"
          max-width="1000"
          class="ma-auto align-center white--text text-center title mx-auto mb-5"
          :aspect-ratio="16/9"
        >
          <v-overlay
            :absolute="true"
            :value="true"
          >
            {{ event.name }}
          </v-overlay>
        </v-img>
      </div>
      <v-list>
        <v-list-item
          v-for="(tile,i) in tiles"
          :key="tile.title"
          @click="navigate(i)"
        >
          <v-list-item-title class="text-center heading">{{ tile.title }}</v-list-item-title>
          <v-divider></v-divider>
        </v-list-item>
      </v-list>
    </v-bottom-sheet>

  </section>
</template>

<script>
export default {
  name: 'Calendar',

  data: () => ({

    dark: true,
    startMenu: false,
    start: '2020-07-27',
    endMenu: false,
    end: '2020-07-27',
    nowMenu: false,
    show: false,
    minWeeks: 1,
    now: null,
    events: [],
    colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
    names: ['Meeting', 'Holiday', 'PTO', 'Travel', 'Event', 'Birthday', 'Conference', 'Party'],
    type: 'month',
    el: ['2020-06-29', '2020-07-30'],
    token: null,
    maxDays: 7,
    styleInterval: 'default',
    color: 'primary',
    sheet: false,
    event: {},
    tiles: [
      {img: 'keep.png', title: 'Резервации'},
      {img: 'hangouts.png', title: 'Създай събитие'},
      {img: 'messenger.png', title: 'Сподели събитие'}
    ],
    FB: null,
    model: null,
    scope: null,
    place: {}

  }),

  methods: {
    handleSdkInit ({FB, scope, model}) {
      this.FB = FB
      this.scope = scope
      this.model = model
    },
    fbInt () {
      let app = this
      app.fetchEvents()
      app.filterEvents()
      this.FB.api(
        `/${this.place.facebook_id}/events?access_token=${this.place.access_token}`,
        function (response) {
          if (response && !response.error) {
            /* handle the result */
            app.events = response.data
            app.filterEvents()
          }
        }
      )
    },
    //
    navigate (loc) {
      let placeId = this.$route.params.place_id
      if (loc === 0) {
        this.redirect(`/admin/places/place/${placeId}/date/${this.start}/reservations/`)
      } else if (loc === 1) {
        if (this.event.id) {
          // eslint-disable-next-line camelcase
          this.redirectWithRouter(`/admin/places/place/${placeId}/events/event/${this.event.id}`)
        } else {
          this.redirectWithRouter(`/admin/places/place/${placeId}/events/event/create/date/${this.start}`)
        }
      } else {

      }
      this.$store.commit('setDate', this.now)
      this.sheet = false
    },
    findEvent (date) {
      this.event = {}
      this.tiles[1].title = 'Създай събитие'
      this.events.forEach(event => {
        if (event.date === date) {
          this.event = event
          this.tiles[1].title = 'Редактирай събитие'
          this.sheet = true
        }
      })
      this.sheet = true
    },
    share () {
      this.events.forEach(event => {
        if (event.start === this.start) {
          this.FB.api(`${this.place.facebook_id}/feed`)
        }
      })
    },

    // ev(){
    //     events.push({
    //         name: this.names[this.rnd(0, this.names.length - 1)],
    //         start: first,
    //         end: second,
    //         timed: !allDay,
    //         color: this.colors[this.rnd(0, this.colors.length - 1)],
    //     })
    // }

    fetchEvents () {
      let app = this
      this.get('events').then(r => {
        r.events.forEach(event => {
          event.start = event.date
          app.events.push(event)
        })
      })
    },
    prev () {
      this.$refs.calendar.prev()
    },
    next () {
      this.$refs.calendar.next()
    },
    filterEvents () {
      let events = []
      let event = {}
      this.events.forEach(ev => {
        console.log(ev)
        event.name = ev.description
        event.start = this.convertDate(ev.start_time, 'YYYY-MM-DD')
        event.color = 'blue'
        events.push(event)
      })
      this.events = events
    },
    allowedDates: val => this.el.indexOf(val) !== -1
  },

  created () {
    this.start = this.convertDate(this.moment(), 'YYYY-MM-DD')
    this.$EventBus.$on('close', () => {
      this.show = false
    })
    this.$EventBus.$on('share', () => {
      this.share()
    })
  },
  mounted () {
    let app = this
    this.get(`auth/places/place/${this.$route.params.place_id}`).then(r => {
      app.place = r.place
    })
    this.fbInt()
  },
  watch: {
    start (val) {
      this.$store.commit('setDate', val)
      // this.findEvent(val);
    }
  },
  computed: {
    eventImage () {
      return 'https://booking.localhost/items/' + this.findEvent(this.start)
    }
  }

}
</script>

<style scoped>

</style>
