<template>
  <section>
    <v-app-bar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      app
      dark
    >
      <v-btn icon @click="navigate()">
        <v-icon>
          mdi-chevron-left
        </v-icon>
      </v-btn>
      <v-toolbar-title class=" ma-auto" v-if="!search">
        {{ place.name }}
      </v-toolbar-title>
      <v-slide-x-reverse-transition hide-on-leave>
        <v-autocomplete
          outlined
          rounded
          dense class="mt-6 mr-3"
          single-line
          v-show="search"
          v-model="item"
          return-object
          append-icon="mdi-magnify"
          @click:append="search = false"
          :search-input.sync="keyword"
          @blur="search = false"
          ref="search"
          @change=""
          :items="items"
          item-text="name"
          item-value="id"
        ></v-autocomplete>
      </v-slide-x-reverse-transition>

      <template v-slot:extension v-if="routeIs('menu_subcategories')">
        <br>
        <v-tabs
          grow
          center-active
          v-if="routeIs('menu_subcategories')"
          v-model="subcategory"
        >
          <template v-for="subcategory in subcategories">
            <v-tab :key='subcategory.id' exact
                   class="text-none"
            >
              {{ subcategory.name }}
            </v-tab>
          </template>
        </v-tabs>
      </template>
      <v-btn icon @click="search  = !search" v-if="!search">
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
      <app-cart-icon></app-cart-icon>
    </v-app-bar>
  </section>
</template>

<script>
import CartIcon from './icons/CartIcon'

export default {
  name: 'MenuNavigation',
  props: ['place'],
  components: {
    appCartIcon: CartIcon
  },
  data: () => ({
    subcategories: [],
    search: false,
    items: [],
    keyword: '',
    item: {}
  }),
  methods: {
    navigate () {
      if (this.routeIs('menu_subcategories')) {
        this.redirectWithRouter(`/${this.$route.params.place_id}/menu`)
      } else {
        this.$router.back()
      }
    },
    async fetchSubcategories () {
      let self = this
      await this.get(`menu/category/${this.$route.params.category_id}/subcategories`).then(r => {
        self.subcategories = r.subcategories
      })
    },
    async findContent () {
      let self = this
      await this.get(`menu/search/keyword/${this.keyword}/place/${this.$route.params.place_id}`).then(r => {
        self.items = r.items
      })
    }
  },
  computed: {
    subcategory: {
      get () {
        return this.$store.getters.getSubcategory
      },
      set (val) {
        return this.$store.commit('setSubcategory', val)
      }
    }
  },
  watch: {
    '$route.params.category_id' (val) {
      this.fetchSubcategories()
    },
    subcategory (val) {
      this.$router.push(`/${this.$route.params.place_id}/menu/${this.$route.params.category_id}/${this.subcategories[val].id}`)
    },
    search (val) {
      this.$refs.search.focus()
    },
    keyword (val) {
      this.findContent()
    },
    item (val) {
      this.$router.push(`/${this.$route.params.place_id}/menu/${val.id}`)
    }
  },
  created () {
    this.fetchSubcategories()
  }
}
</script>

<style scoped>

</style>
