<template>
  <v-app-bar
    :clipped-left="$vuetify.breakpoint.lgAndUp"
    app
    dark
  >
    <v-btn icon @click="$router.back()" style="position: fixed;margin-right: -35px">
      <v-icon>
        mdi-chevron-left
      </v-icon>
    </v-btn>
    <v-toolbar-title class=" mx-auto mb-2" v-if="distance > 50">
      {{ place.name }}
    </v-toolbar-title>



  </v-app-bar>
</template>

<script>
export default {
  name: 'PlaceNavigation',
  props: ['place'],
  computed: {
    distance: {
      get () {
        return this.$store.getters.getDistance
      }
    }
  }
}
</script>

<style scoped>

</style>
