<template>
  <v-app-bar
    app
    fixed
    dense
    shrink-on-scroll
    prominent>

    <v-btn icon @click="redirectWithRouter('/')" style="position: fixed">
      <v-icon>mdi-chevron-left</v-icon>
    </v-btn>
    <v-slide-x-transition>
      <v-avatar :size="distance > 50?50:120" color="blue"
                :class="`text-center align-center ${distance > 50 ?'ml-10 mt-1':'ma-auto'}`">
        <v-img
          v-if="user && user.profile_image"
          src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png"
        ></v-img>
        <span v-if="user">{{ user.name[0].toUpperCase() }}</span>

      </v-avatar>
    </v-slide-x-transition>
    <v-slide-y-transition>
      <v-toolbar-title v-if="distance > 50" class="ma-auto">
        {{ user.name }}
      </v-toolbar-title>
    </v-slide-y-transition>
    <template v-slot:extension>
      <v-tabs flat color="primary" grow center-active>
        <v-tab to="/profile" exact>
          {{$t('user_my_profile') }}
        </v-tab>
        <v-tab to="/profile/orders" exact>
          {{$t('user_orders') }}
        </v-tab>
        <v-tab to="/profile/reservations" exact>
          {{$t('user_reservations') }}
        </v-tab>
        <v-tab to="/profile/favourites" exact>
          {{$t('user_favourites') }}
        </v-tab>
      </v-tabs>

    </template>

  </v-app-bar>
</template>

<script>
export default {
  name: 'UserNavigation',
  computed: {
    distance () {
      return this.$store.getters.getDistance
    },
    user () {
      return this.$store.getters.getUser
    }
  }
}
</script>

<style scoped>

</style>
