<template>
  <v-badge :content="order_count" color="red" overlap v-if="routeIs('menu_subcategories')">
    <v-icon @click="redirectWithRouter(`/${$route.params.place_id}/orders/create`)">mdi-basket
    </v-icon>
  </v-badge>
</template>

<script>
export default {
  name: 'CartIcon',
  data: () => ({
    order_count: 0
  }),
  methods: {
    recalculate () {
      let order = JSON.parse(localStorage.getItem('order'))
      this.order_count = 0
      order.forEach(item => {
        this.order_count += item.quantity
      })
    }
  },
  created () {
    this.$EventBus.$on('add_to_order', () => {
      this.recalculate()
    })
    this.$EventBus.$on('remove_from_order', () => {
      this.recalculate()
    })

    let order = JSON.parse(localStorage.getItem('order'))
    if (!order) {
      order = []
      localStorage.setItem('order', JSON.stringify(order))
    } else {
      this.recalculate()
    }
  }
}
</script>

<style scoped>

</style>
