<template>
  <section v-if="!no_show">
    <v-btn :icon="icon" @click="pickFile()" v-if="!icon" :text="!icon">
      <v-icon class="mr-1">mdi-plus</v-icon>
      {{ imageName == '' ? label_text : imageName }}
    </v-btn>
    <v-row no-gutters v-else>
      <v-col cols="12" class=" text-center">
        <v-btn fab x-small @click="pickFile()" color="grey darken-3">
          <v-icon>
            mdi-plus
          </v-icon>
        </v-btn>
      </v-col>
      <v-col cols="12" class="text-center" v-if="!only_icon">
        <h5>{{ imageName == '' ? label_text : imageName }}</h5>
      </v-col>
    </v-row>
    <input
      style="display: none"
      @change="onFilePicked"
      type="file" id="post_image" ref="post_image"/>
  </section>
</template>
<section v-else>
<input
  style="display: none"
  @change="onFilePicked"
  type="file" id="post_image" ref="post_image"/>
</section>

<script>
export default {
  name: 'ImageUpload',
  props: {
    label_text: {
      default () {
        return 'Добави файл'
      }
    },
    icon: {
      default () {
        return false
      }
    },
    only_icon: {
      default () {
        return false
      }
    },

    no_show: {
      default () {
        return false
      }
    },
    no_show_event: {
      default () {
        return 'no-show-event'
      }
    },
    evt_name: {
      default () {
        return 'uploaded-image'
      }
    }
  },
  data: () => ({
    imageUrl: '',
    imageFile: '',
    imageName: '',
    img: null
  }),
  methods: {

    onFilePicked ($e) {
      let app = this
      const files = $e.target.files
      if (files[0] !== undefined) {
        this.imageName = files[0].name
        if (this.imageName.lastIndexOf('.') <= 0) {
          return
        }
        const fr = new FileReader()
        fr.readAsDataURL(files[0])
        fr.addEventListener('load', () => {
          this.imageUrl = fr.result
          this.imageFile = this.$refs.post_image.files[0]
          let img = {
            url: app.imageUrl,
            file: app.imageFile, // this is an image file that can be sent to server...
            name: app.imageName // this is an image file that can be sent to server...
          }
          // this is an image file that can be sent to server...
          app.img = img
        })
      }
    },
    pickFile () {
      this.$refs.post_image.click()
    }
  },
  watch: {
    img (val) {
      this.$EventBus.$emit(this.evt_name, val)
    }
  },
  created () {
    this.$EventBus.$on(this.no_show_event, () => {
      this.pickFile()
    })
  }

}
</script>

<style scoped>

</style>
