<template>
  <v-container fluid>
    <v-row>
      <template v-for="(event,i) in events">
        <v-col cols="12" :key="event.id" :id="event.id">
          <v-card
            :ref="event.id"
            class="rounded-xl"

          >
            <v-img
              :src="`${$domain}/${event.picture}`" class="white--text align-end rounded-t-xl rounded-b-lg"
            >
            </v-img>
            <v-card-title class="mb-0 pa-1">
              {{ event.name }}
            </v-card-title>
            <v-card-text class="mt-0 pa-1">
              {{ event.description }}
            </v-card-text>
            <h4 class="pa-1 text-none text-none">
              <v-icon small>mdi-calendar</v-icon>
              {{ convertDate(event.date, 'DD.MM.YYYY (dddd)') }}
            </h4>


            <v-row no-gutters class="mt-2">
              <v-col cols="12">
                <h1 class="" style="font-size: 1rem"></h1>
              </v-col>
              <v-col cols="12">

              </v-col>


              <v-col cols="12" class="text-center mb-3">
                <v-btn-toggle rounded class="text-center">
                  <v-btn dark
                         outlined
                         large
                         @click="redirectWithRouter(`/admin/places/place/${$route.params.place_id}/date/${event.date}/reservations/`)">
                    <v-icon color="white">mdi-pencil</v-icon>
                  </v-btn>
                  <v-btn dark outlined large>
                    <v-icon color="white">mdi-share</v-icon>
                  </v-btn>
                  <v-btn dark outlined large>
                    <v-icon color="white">mdi-delete</v-icon>
                  </v-btn>
                </v-btn-toggle>
              </v-col>
            </v-row>

          </v-card>
        </v-col>
      </template>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'Events',
  data: () => ({
    events: [],
    isIntersecting: false,
    count: 0

  }),
  methods: {
    getEvents () {
      let self = this
      this.get('events').then(r => {
        self.events = r.events
      })
    },
    onIntersect (entries, observer) {
      // More information about these options
      // is located here: https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API
      this.isIntersecting = entries[0].intersectionRatio >= 1
      document.title = this.events[entries[0].target.id].name
    },
    handleScroll (index) {

    }
  },
  created () {

  },
  watch: {
    events (val) {
      let event
      // document.title =val[this.count].name;
      let id = parseInt(this.$route.params.id)

      if (!isNaN(id)) {
        this.events.forEach(evt => {
          if (evt.id === id) {
            event = evt
          }
        })
        // console.log(event);

        document.title = event.name
      }
    }

  },
  updated () {
    this.$nextTick(() => {
      let id = parseInt(this.$route.params.id)
      this.$vuetify.goTo(`#${id}`)
    })

    // this.$refs[id].scrollIntoView({behavior: "smooth", block: "start", inline: "start"});
    // replace 4 by your preferred id
  },

  beforeMount () {
    this.getEvents()
  }

}
</script>

<style scoped>

</style>
