<template>
  <v-container fluid>
    <v-row justify="center" align="center">
      <v-col lg="4" sm="12" class="mx-auto">
        <v-card class="mx-auto " color="#232f3f">

          <GmapMap
            :center="{lat:parseFloat(place.latitude),lng:parseFloat(place.longitude)}"
            :zoom="15"
            map-type-id="terrain"
            style="width: 100%; height: 20vh;border: 1px solid #AD974F;z-index: 1;-moz-border-radius: 10px;;-webkit-border-radius: 10px;"
            class="elevation-10 rounded-lg"
            id="container"

          >
            <GmapMarker
              :position="{lat:parseFloat(place.latitude),lng:parseFloat(place.longitude)}"
            />
          </GmapMap>
          <v-card-text>

            <v-list color="#232f3f">
              <v-list-item>
                <v-list-item-icon>
                  <v-icon>mdi-map-marker</v-icon>
                </v-list-item-icon>
                <v-list-item-content class="text-none">
                  {{ place.location }}
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-icon>
                  <v-icon>mdi-phone</v-icon>
                </v-list-item-icon>
                <v-list-item-content class="text-none">
                  {{ place.phone }}
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-icon>
                  <v-icon>mdi-clock</v-icon>
                </v-list-item-icon>
                <v-list-item-content class="text-none">
                  11:00 - 02:00
                </v-list-item-content>
              </v-list-item>
            </v-list>

          </v-card-text>

          <v-card-text>
            <h3 class="text-center"> {{ $t('rating') }}</h3>
            <!--            <h3 class="text-center">{{ place.rating }}</h3>-->
            <v-row>
              <v-col cols="6" class="my-auto">
                <v-row no-gutters>
                  <v-col cols="12" class="mb-2">
                    <h1 class="text-center" style="font-size: 24px">{{parseFloat(place.rating) }}</h1>
                  </v-col>
                  <v-col cols="6">
                    <v-rating
                      :value="place.rating"
                      color="yellow darken-3"
                      background-color="grey darken-1"
                      empty-icon="$ratingFull"
                      x-small
                      disabled
                      @change="dialog = true"
                      @click="dialog  = true"
                    ></v-rating>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="6">
                <v-row no-gutters>
                  <v-col cols="1">
                    <span>5</span>
                  </v-col>
                  <v-col cols="11" class="my-auto">
                    <v-progress-linear
                      :value="100"
                      rounded
                      height="6"
                      color="primary"
                    ></v-progress-linear>
                  </v-col>
                  <v-col cols="1">
                    <span>4</span>
                  </v-col>
                  <v-col cols="11" class="my-auto">
                    <v-progress-linear
                      :value="90"
                      rounded
                      height="6"
                      color="primary"
                    ></v-progress-linear>
                  </v-col>
                  <v-col cols="1">
                    <span>3</span>
                  </v-col>
                  <v-col cols="11" class="my-auto">
                    <v-progress-linear
                      :value="80"
                      rounded
                      height="6"
                      color="primary"
                    ></v-progress-linear>
                  </v-col>
                  <v-col cols="1">
                    <span>2</span>
                  </v-col>
                  <v-col cols="11" class="my-auto text-center" >
                    <v-progress-linear
                      :value="50"
                      rounded
                      height="6"
                      color="primary"
                    ></v-progress-linear>
                  </v-col>
                  <v-col cols="1">
                    <span>1</span>
                  </v-col>
                  <v-col cols="11" class="my-auto">
                    <v-progress-linear
                      :value="20"
                      rounded
                      height="6"
                      color="primary"
                    ></v-progress-linear>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-list color="#232f3f">
              <template v-for="rating in place.ratings">
                <v-list-item two-line>
                  <v-list-item-content>
                    <v-list-item-title>
                      <v-avatar  color="primary" size="45" >
                        <v-img src="https://www.weact.org/wp-content/uploads/2016/10/Blank-profile.png"></v-img>
                      </v-avatar>
                      <span class="pl-3">{{ rating.user.name }}</span>
                    </v-list-item-title>
                    <v-list-item-subtitle>
                      <v-row justify="center">
                        <v-col cols="6">
                          <v-rating
                            :value="rating.rating"
                            color="yellow darken-3"
                            background-color="grey darken-1"
                            empty-icon="$ratingFull"
                            class="text-center"
                            small
                            disabled
                            @change="dialog = true"
                            @click="dialog  = true"
                          ></v-rating>
                        </v-col>
                        <v-col cols="6" class="text-right mt-1">
                          <span class="mt-5">
                            {{ convertDate(rating.created_at, 'DD/MM/YYYY') }}
                          </span>
                        </v-col>
                      </v-row>

                      {{ rating.comment }}
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-list>
          </v-card-text>

        </v-card>

      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'Home',
  props: ['place'],
  data: () => ({
    rating: 5
  })
}
</script>

<style scoped>
#container {
  border-radius: 10px;
  background-color: white;
  border: 1px solid #000;
  overflow: hidden;
}

#container > div {
  height: 200px;
  background-color: red;
}
</style>
