<template>
  <transition style="max-width: 100vw" :name="back? 'slide-x-reverse-transition' : 'slide-x-transition'">
    <router-view name="b"></router-view>
  </transition>
</template>

<script>
export default {
  name: 'Menu',
  data: () => ({
    previous: 0,
    back: false
  }),
  watch: {
    '$route' (to, from) {
      const toDepth = to.path.split('/').length
      const fromDepth = from.path.split('/').length
      this.back = toDepth < fromDepth
    }
  }
}
</script>

<style scoped>

</style>
