<template>
  <v-container fluid>
    <v-facebook-login app-id="752879671956207" :login-options="login_options"
                      @sdk-init="handleSdkInit" v-show="!logged">
    </v-facebook-login>
    <v-row>
      <v-col cols="4">
        <v-subheader>
          <v-icon small class="mr-1">mdi-filter-variant</v-icon>
          {{ $t('all_label') }}
        </v-subheader>
      </v-col>
      <v-col cols="4">
        <v-subheader>
          <v-icon small class="mr-1">mdi-image-multiple</v-icon>
          {{ $t('photos_label') }}
        </v-subheader>
      </v-col>
      <v-col cols="4">
        <v-subheader>
          <v-icon small class="mr-1">mdi-video</v-icon>
          {{ $t('videos_label') }}

        </v-subheader>
      </v-col>
      <v-col
        v-for="(image,i) in images"
        :key="i"
        cols="12"
        md="4"
      >
        <v-img
          :src="image.webp_images[0].source"
          :lazy-src="image.webp_images[0].source"
          aspect-ratio="1"
        ></v-img>
      </v-col>
      <v-col
        v-for="(video,j) in videos"
        :key="j"
        cols="12"
        md="4"
        v-html="video.format[0].embed_html"

      >

      </v-col>


    </v-row>
  </v-container>
</template>

<script>
import VFacebookLogin from 'vue-facebook-login-component'

export default {
  name: 'Photos',
  components: {
    VFacebookLogin
  },
  data: () => ({
    FB: null,
    model: {},
    scope: {},
    page: {},
    images: [],
    videos: [],
    events: [],
    logged: true,
    login_options: {
      scope: 'email'
    }
  }),
  methods: {
    getMedia () {
      let place = this.$store.getters.getPlace
      let self = this
      this.FB.api(`${place.facebook_id}?fields=videos{format},photos{webp_images},events`, 'GET',
        media => {
          self.images = media.photos.data
          self.videos = media.videos.data
          self.events = media.events.data
        },
        {
          access_token: place.access_token
        }
      )
    },
    handleSdkInit ({FB, scope, model}) {
      this.FB = FB
      this.scope = scope
      this.model = model
    }
  },
  created () {
  },
  computed: {
    place: {
      get () {
        return this.$store.getters.getPlace
      }
    }
  },
  watch: {
    FB (val) {
      if (this.place) {
        this.getMedia()
      }
    },
    place (val) {
      if (this.FB) {
        this.getMedia()
      }
    }
  }

}
</script>
<style>


</style>
