<template>
  <section>
    <v-card
      v-if="routeIs('places')"
      class="rounded-lg" max-height="100vh" style="background-color: #232f3f;height: max-content;position: relative">
      <v-img v-if="routeIs('places')"
             :aspect-ratio="16/9"
             :src="`${$domain}${place.img_url}`" class="align-end rounded-b-lg" contain
             max-height="35vh" style="transform: translateY(-17%)">
        <v-btn absolute class="mt-7" icon left style="z-index: 999" top @click="navigate()">
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
      </v-img>
      <v-row no-gutters
             style="position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%);"
      >
        <v-col class="mx-auto text-center" cols="12" style="z-index: 999;transform: translateY(8%)">

          <v-avatar size="120" style="border: 3px solid #232f3f">
            <v-img
              :aspect-ratio="19/9"
              :src="`${$domain}${place.profile_image}`"
              class="mx-auto"></v-img>
          </v-avatar>

        </v-col>
      </v-row>
      <v-row class="mt-5" justify="center" no-gutters>
        <v-col class="mx-auto" cols="12" style="background-color: transparent">
          <h2 class="text-center "> {{ place.name }}</h2>
        </v-col>
        <v-col class="text-center" cols="12" style="">
          <v-rating
            :value="place.rating"
            background-color="grey darken-1"
            color="yellow darken-3"
            disabled
            empty-icon="$ratingFull"
            small

          ></v-rating>
        </v-col>
        <v-col class="mt-6 mb-3" cols="3">
          <v-row align-content="center" no-gutters>
            <v-col class="text-center" cols="12">
              <v-btn color="white" fab small>
                <v-icon color="primary">
                  mdi-share
                </v-icon>
              </v-btn>
            </v-col>
            <v-col class="text-center" cols="12">
              <h5>{{ $t('share') }}</h5>
            </v-col>
          </v-row>
        </v-col>
        <v-col class="mt-6 mb-3" cols="3">
          <v-row align-content="center" no-gutters>
            <v-col class="text-center" cols="12">
              <v-btn :to="`/admin/places/place/${$route.params.place_id}/info`" color="white" fab small>
                <v-icon color="primary">
                  mdi-phone
                </v-icon>
              </v-btn>
            </v-col>
            <v-col class="text-center" cols="12">
              <h5>{{ $t('label_phone') }}</h5>
            </v-col>
          </v-row>

        </v-col>
        <v-col class="mt-6 mb-3" cols="3">
          <v-row align-content="center" no-gutters>
            <v-col class="text-center" cols="12">
              <v-btn color="white" fab small
              >
                <v-icon color="primary">
                  mdi-message
                </v-icon>
              </v-btn>
            </v-col>
            <v-col class="text-center" cols="12">
              <h5>{{ $t('label_message') }}</h5>
            </v-col>
          </v-row>
        </v-col>
        <v-col class="mt-6 mb-3" cols="3">
          <v-row align-content="center" no-gutters>
            <v-col class="text-center" cols="12">
              <v-btn color="white" fab small
              >
                <v-icon color="primary">
                  mdi-heart
                </v-icon>
              </v-btn>
            </v-col>
            <v-col class="text-center" cols="12">
              <h5>{{ $t('label_like') }}</h5>
            </v-col>
          </v-row>
        </v-col>

      </v-row>
    </v-card>
    <v-card :color="routeIs('menu_categories')||routeIs('menu_subcategories')?'transparent':'#232f3f'"
            class="mt-2 rounded-lg">
      <v-slide-y-transition>
        <v-tabs
          v-if="routeIsNot('menu_subcategories')"
          v-show="show"
          :background-color="!isSticky && ! routeIs('menu_categories')?'transparent':''"
          :class="` ${isSticky?routeIs('menu_categories')?'sticky mt-15':'sticky':routeIs('menu_categories')?'sticky mt-15':''} ` "
          dark

          grow


        >
          <v-tab :to="`/${$route.params.place_id?$route.params.place_id:'/'}`" class="text-none white--text" exact>
            {{ $t('place_about') }}
          </v-tab>
          <v-tab :to="`/${$route.params.place_id?$route.params.place_id:''}/reservations`" class="text-none white--text" exact>
            {{ $t('place_reserve') }}
          </v-tab>
          <v-tab :to="`/${$route.params.place_id?$route.params.place_id:''}/events`" class="text-none white--text" exact>
            {{ $t('place_events') }}
          </v-tab>
          <v-tab :to="`/${$route.params.place_id?$route.params.place_id:''}/photos`" class="text-none white--text" exact>
            {{ $t('place_media') }}
          </v-tab>
          <v-tab :to="`/${$route.params.place_id?$route.params.place_id:''}/menu`" class="text-none white--text" exact>
            {{ $t('place_menu') }}
          </v-tab>
        </v-tabs>
      </v-slide-y-transition>
      <v-divider></v-divider>
      <section v-touch="{
    left: () => swipe('Left'),
      right: () => swipe('Right')
    }" :class="` ${isSticky || routeIs('menu_categories')?'mt-15':''}`">
        <app-home v-if="section ==0 " :place="place"></app-home>
        <app-booking v-if="section ==1 "></app-booking>
        <app-events v-if="section ==2 "></app-events>
        <app-photos v-if="section==3"></app-photos>
        <app-menu v-if="section==4"></app-menu>

      </section>
    </v-card>
  </section>
</template>

<script>

import Photos from './Photos'
import Calendar from '../Calendar/Calendar'
import Menu from './Menu'
import Home from './Home'
import Events from './Events'

export default {
  name: 'Place',
  props: ['section', 'place_id', 'subdomain'],
  components: {
    appBooking: Calendar,
    appPhotos: Photos,
    appMenu: Menu,
    appHome: Home,
    appEvents: Events
  },
  data: () => ({
    sticky: false,
    place: {},
    isSticky: false,
    scrollPosition: 0,
    show: true

  }),
  created () {
    this.$EventBus.$emit('fetch-place')
    this.fetchPlace()
    window.addEventListener('scroll', this.handleScroll)
    this.$EventBus.$on('show-dialog', () => {
      this.show = false
    })
    this.$EventBus.$on('close-dialog', () => {
      this.show = true
    })
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll)
  },
  methods: {
    navigate () {
      if (this.routeIs('menu_subcategories')) {
        this.redirectWithRouter(`/${this.$route.params.place_id}/menu`)
      } else {
        this.$router.back()
      }
    },
    handleScroll (event) {
      this.scrollPosition = window.scrollY
      if (this.scrollPosition >= 150) {
        this.isSticky = true
      } else {
        this.isSticky = false
      }
    },
    swipe (direction) {
      if (this.routeIsNot('menu_categories') || this.routeIsNot('menu_subcategories')) {
        if (direction === 'Left') {
          if (this.section < 5) {
            this.section++
          }
        } else {
          if (this.section > 0) {
            this.section--
          }
        }
        switch (this.section) {
          case 0: {
            this.$router.push(`/${this.$route.params.place_id}`)
            break
          }
          case 1: {
            this.$router.push(`/${this.$route.params.place_id}/reservations`)
            break
          }
          case 2: {
            this.$router.push(`/${this.$route.params.place_id}/events`)
            break
          }
          case 3: {
            this.$router.push(`/${this.$route.params.place_id}/photos`)
            break
          }
          case 4: {
            this.$router.push(`/${this.$route.params.place_id}/menu`)
            break
          }
        }
      }
    },
    setSticky () {
      var navbar = document.getElementById('nav')

      // Get the offset position of the navbar
      var sticky = navbar.offsetTop
      if (window.pageYOffset >= sticky) {
        this.sticky = true
      } else {
        this.sticky = false
      }
    },
    onIntersect (entries, observer) {
      // More information about these options
      // is located here: https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API
      this.sticky = entries[0].isIntersecting
    },
    fetchPlace () {
      let app = this
      if (!this.subdomain) {
        this.get(`places/place/${this.$route.params.place_id}/get`).then(r => {
          app.place = r.place
          app.setTitle(r.place.name)
          app.$store.commit('setPlace', r.place)
          app.$EventBus.$emit('place-loaded', r.place)
        })
      } else {
        const host = window.location.host
        const parts = host.split('.')

        this.get(`places/place/subdomain/${parts[0]}/get`).then(r => {
          app.place = r.place
          app.setTitle(r.place.name)
          app.$store.commit('setPlace', r.place)
          localStorage.setItem('place_id', r.place.id)
          app.$EventBus.$emit('place-loaded', r.place)
        })
      }
    }

  }

}
</script>

<style scoped>
.v-tab::before {
  background-color: transparent;
}

.v-slide-group__prev--disabled {
  display: none !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  left: 0;

  /*background-color:rgba(27,27,27,1);*/
}


</style>
