<template>
  <v-container fluid>
    <v-card>

      <v-card-text>
        <v-row>
          <v-col cols="12">
            <v-subheader>
              Снимка на корицата
            </v-subheader>
            <v-row no-gutters>
              <v-col cols="6">
                <v-img :src='`${$domain}${place.img_url}`' max-height="25vh" max-width="25vh"></v-img>

              </v-col>
              <v-col cols="2" class="my-auto">
                <app-image-upload-tool evt_name="place_photo" label_text="Добави снимка"></app-image-upload-tool>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12">
            <v-text-field label="Име" v-model="place.name"></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-text-field label="Телефон" v-model="place.phone"></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-text-field label="Адрес" v-model="place.location"></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-text-field label="Координати X" v-model="place.latitude"></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-text-field label="Координати Y" v-model="place.longitude"></v-text-field>
          </v-col>


        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn outlined @click="save()">Запази</v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import ImageUpload from '../../Tools/ImageUpload'

export default {
  name: 'placeInfo',
  components: {
    appImageUploadTool: ImageUpload
  },
  data: () => ({
    place: {}
  }),
  methods: {
    getPlace () {
      let app = this
      this.get(`places/place/${this.$route.params.place_id}/get`).then(r => {
        app.place = r.place
        app.setTitle(r.place.name)
        app.$store.commit('setPlace', r.place)
      })
    },
    save () {
      let self = this
      this.patch(`auth/places/place/${this.$route.params.place_id}/update`, this.place).then(r => {
        self.showAlert('Успешно обновено място', false)
      })
    }
  },
  created () {

    this.$EventBus.$on('place_photo', img => {
      this.place.img_url = img.url
    })
    this.getPlace()
    setTimeout(() => {
      this.$EventBus.$emit('setTitle', 'Информация за заведението')
    }, 700)
  }
}
</script>

<style scoped>

</style>
