<template>
  <swiper :options="swiperOption" class="swiper" ref="swiper">
    <template v-for="i in 1">
      <swiper-slide :style="`position:relative`">
        <v-row justify="center" align="center" align-content="center">
          <v-col cols="12" class="ma-auto">
            <v-img :src="require(`../../assets/advertisement/7.jpg`)" class="align-content-center" contain >
            </v-img>
          </v-col>
        </v-row>

      </swiper-slide>

    </template>
    <v-btn icon class="swiper-button-prev" style="z-index: 999">
      <v-icon>
        mdi-chevron-left
      </v-icon>
    </v-btn>
    <v-btn icon class="swiper-button-next">
      <v-icon>
        mdi-chevron-right
      </v-icon>
    </v-btn>
  </swiper>
</template>

<script>
export default {
  name: 'Advertisement',
  data: () => ({
    swiperOption: {
      slidesPerView: 1,
      spaceBetween: 30,
      autoplay: 2500,
      loop: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      }
    }
  })
}
</script>

<style scoped>

</style>
