<template>

  <section>
    <app-home-page></app-home-page>

    <v-col>
      <app-places></app-places>
    </v-col>


  </section>
</template>

<script>
import Places from '../Places/Places'
import HomePage from './HomePage'

export default {
  name: 'Home',
  components: {
    appPlaces: Places,
    appHomePage: HomePage
  }
}
</script>

<style scoped>

</style>
