<template>
  <section style="height: 100vh max-height: 100vh;width: 100vw;position: relative">

    <!--    <app-advertisement></app-advertisement>-->


    <v-row style=";
    background-color:rgba(1,1,1,0.8);
    min-width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    z-index: 3;
" justify="center" align-content="center"
           align="center">
      <template v-for="(add,i) in ads">

        <v-slide-x-transition>

          <v-img :src="`${$domain+add.image}`" v-if="ad == i" contain style="position: absolute" :key="add.id"
                max-height="100vh" height="100vh" min-width="100vw" max-width="100vw">
            <v-overlay :absolute="true" :value="true"></v-overlay>
          </v-img>
        </v-slide-x-transition>
        <v-col cols="12" class="text-center mt-15"
               :style="`bottom: 25%;position: absolute;z-index: 999;${add.button_position==='Отляво'?'left:5':add.button_position==='Отдясно'?'':'margin:auto'}`"
               v-if="ad == i">
          <v-btn
            @click="redirect(add.link)"
            :class="`text-none mr-2 mt-15`"
            outlined
            x-small
            :style="`font-size: 12px;padding: 15px; background-color:rgba(1,1,1,0.2);border: 1px solid ${add.button_color};z-index:999`"
            dark
            :color="add.button_color"
            text
            right
            absolute
          >
            {{ add.button_text }}
            <v-icon class="text-decoration-none" :color="add.button_color">mdi-chevron-right</v-icon>
          </v-btn>
        </v-col>


      </template>
      <v-col cols="10" class="my-auto text-center mt-15">
        <v-text-field
          name="search"
          dense
          :label="$t('label_search_field')"
          rounded
          outlined
          color="primary"
          class="new-inp  mt-15"
          dark
          append-icon="mdi-magnify"
          v-model="filters.search"
          style="z-index: 3;">

        </v-text-field>
      </v-col>

      <v-col cols="12" class="mt-15">

      </v-col>
    </v-row>
    <v-slide-y-transition>
      <v-tabs background-color="transparent" flat color="primary" dark
              :style="`left: 0; bottom: 2%;position: ${scroll < 11.2?'fixed':'absolute'};z-index: 3;`"
              grow
              v-if="!show" v-model="filters.type">
        <v-tab>
          Restaurants
        </v-tab>
        <v-tab>
          Bars
        </v-tab>
        <v-tab>
          Clubs
        </v-tab>
      </v-tabs>
    </v-slide-y-transition>


  </section>
</template>

<script>
import Advertisement from './Advertisement'

export default {
  name: 'HomePage',
  components: {
    appAdvertisement: Advertisement
  },
  data: () => ({
    scroll: 0,
    show: false,
    ad: 0,
    ads: [],
    addClass: true,
    swiperOption: {
      slidesPerView: 1,
      spaceBetween: 30,
      autoplay: 2500,
      loop: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      }
    }
  }),
  methods: {
    onScroll () {
      this.scroll = window.scrollY
      this.showIfScrolled()
    },
    showIfScrolled () {
      if (this.scroll < window.screen.height - 210) {
        this.show = false
      } else {
        this.show = true
      }
    },
    getAdvertisement () {
      let self = this
      this.get(`/adss/get/city/${this.filters.city}`).then(r => {
        self.ads = r.ads
      })
    }
  },
  watch: {
    ad (val) {
      this.addClass = true
      setTimeout(() => {
        this.addClass = false
      }, 500) // same duration as css transition
    },
    'filters.city' (val) {
      this.getAdvertisement()
    }
  },
  created () {
    this.getAdvertisement()
    setInterval(() => {
      if (this.ad < this.ads.length) {
        this.ad++
      } else {
        this.ad = 0
      }
    }, 2500)
  },
  computed: {
    filters: {
      get () {
        return this.$store.getters.getFilters
      },
      set (val) {
        this.$store.commit('setFilters', val)
      }
    }
  },
  mounted () {
    window.addEventListener('scroll', this.onScroll)
  }

}
</script>
<style>
#app > div > section > section > div.row.align-center.justify-center.align-content-center > div.my-auto.text-center.mt-15.col.col-10 > div > div > div.v-input__slot > div.v-input__append-inner > div > i {
  color: #AD974F;
}
</style>

