<template>
  <v-dialog :value="true" fullscreen>
    <app-product-dialog :product="product"></app-product-dialog>
  </v-dialog>
</template>

<script>
import ProductDialog from './ProductDialog'

export default {
  name: 'ProductInfo',
  props: ['product_id'],
  components: {
    appProductDialog: ProductDialog
  },
  data: () => ({
    product: {}
  }),
  methods: {
    fetchProduct () {
      let self = this
      this.get(`/menu/items/item/${this.$route.params.product_id}`).then(r => {
        self.product = r.product
      })
    }
  },
  mounted () {
    this.fetchProduct()
  }
}
</script>

<style scoped>

</style>
