<template>
  <v-container fluid>
    <v-row justify="center">
      <infinite-loading direction="bottom" @infinite="infiniteHandler"></infinite-loading>

      <v-scale-transition>
        <v-btn
          @click="fab = true"
          dark
          fab
          bottom
          fixed
          v-if="!fab"
          color="white"
        >
          <v-icon v-if="fab" color="primary">
            mdi-close
          </v-icon>
          <v-icon v-else color="primary">
            mdi-dots-vertical
          </v-icon>
        </v-btn>
      </v-scale-transition>

      <v-scale-transition>
        <v-btn-toggle rounded v-if="fab" style="position: fixed; bottom: 4%;z-index: 999">
          <v-btn text class="text-none" color="primary" @click="fab = false">
            <!--            <span class="mt-3 text-center">Чакаща</span>-->
            <span>Цена</span>
          </v-btn>
          <v-btn text class="text-none" color="primary" @click="fab = false">
            <!--            <span class="mt-3 text-center">Одобрена</span>-->
            <span>Рейтинг</span>
          </v-btn>
          <v-btn text class="text-none" color="primary" @click="fab = false">
            <!--            <span class="mt-3 text-center">Отказана</span>-->
            <span>Име</span>
          </v-btn>

        </v-btn-toggle>
      </v-scale-transition>
    </v-row>
    <v-row>
      <v-col cols="6" v-for="product in products" :key="product.id">
        <app-product :product="product" :auth="auth"></app-product>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading'
import Product from './Product'
import CategoriesMenu from '../CategoriesMenu'
import ProductInfo from './ProductInfo'

export default {
  name: 'Products',
  components: {
    appProduct: Product,
    appCategoriesMenu: CategoriesMenu,
    appProductInfo: ProductInfo,
    InfiniteLoading
  },
  props: ['category_id', 'subcategory_id'],
  data: () => ({
    products: [],
    previous: 0,
    back: false,
    auth: false,
    fab: false,
    dialog: false,
    subcategories: [],
    product: {},
    skip: 0,
    load: true
  }),
  async beforeRouteEnter (to, from, next) {
    await next(vm => {
      vm.fetchProducts(null, next())
    })
  },
  async beforeRouteUpdate (to, from, next) {
    await next(vm => {
      vm.fetchProducts(null, next())
    })
  },
  methods: {
    infiniteHandler ($state) {
      if (this.load) {
        let self = this
        $state.loaded()
        this.load = false
        self.get(`menu/subcategory/${this.$route.params.subcategory_id}/items/get/skip/${this.skip}`).then(r => {
          if (r.products.length === 0) {
            self.load = false
          } else {
            r.products.forEach(product => {
              self.products.push(r.product)
            })
            self.skip += 10

            this.load = true
          }
        })
        $state.complete()
      }
    },
    async fetchProducts (subcategoryId = null, next = null) {
      let self = this

      subcategoryId = this.$route.params.subcategory_id

      // eslint-disable-next-line camelcase
      await self.get(`menu/subcategory/${subcategoryId}/items/get/skip/${this.skip}`).then(r => {
        self.products = r.products
        self.skip += 10
      })
      if (next) {
        next()
      }
    },
    async fetchSubcategories () {
      let self = this
      await this.get(`menu/category/${this.$route.params.category_id}/subcategories`).then(r => {
        self.subcategories = r.subcategories
      })
    }

  },
  created () {
    this.previous = this.subcategory_id
    this.$EventBus.$on('show-dialog', product => {
      this.product = product
      this.dialog = true
    })
    this.$EventBus.$on('close-dialog', product => {
      this.dialog = false
    })
  },
  computed: {
    subcategory: {
      get () {
        return this.$store.getters.getSubcategory
      }
    }
  },
  watch: {

    '$route.params.subcategory_id': async function (val) {
      this.skip = 0
      this.load = true
      await this.fetchProducts()
      if (val < this.previous) {
        this.previous = val
        this.back = true
      } else {
        this.previous = val
        this.back = false
      }
    }
  },
  async mounted () {
    await this.fetchProducts()
    await this.fetchSubcategories()
  }
}
</script>

<style scoped>
.slide-leave-active,
.slide-enter-active {
  transition: 1s;
}

.slide-enter {
  transform: translate(100%, 0);
}

.slide-leave-to {
  transform: translate(-100%, 0);
}

.slideback-leave-active,
.slideback-enter-active {
  transition: 1s;
}

.slideback-enter {
  transform: translate(-100%, 0);
}

.slideback-leave-to {
  transform: translate(100%, 0);
}

</style>
