<template>
  <section style="left: 0;background-color: #232f3f">
    <v-card-actions class="text-center">
      <v-btn block color="primary" class="mx-auto text-none" text>
        Препоръчано
      </v-btn>
    </v-card-actions>
    <v-slide-group
      style="left: 0; background-color: transparent"
      center-active
    >
      <v-slide-item
        v-for="product in products"
        :key="product.id"
        v-slot="{ active, toggle }"
        style="max-width: 30vw"
        class="my-auto mr-2"
      >
        <v-card rounded class="rounded-lg" @click="redirectToProduct(product)"
                color="#EAEAEA">
          <v-img :src="`${$domain}/${product.image}`" class="align-end text-center text-wrap" max-height=" 50vh"
                 max-width=" 30vw">
          </v-img>
          <v-card-text class="pa-0">

              <h1 style="font-size: 12px;color:#231F20">{{ product.name }}</h1>
              <v-row justify="center" align-content="center">
                <v-col cols="6" class="text-left grey--text pl-3">
                  <h3 style="font-size: 11px;color:#231F20" class="pl-3">{{ product.weight }}гр</h3>
                </v-col>
                <v-col cols="6" class="text-right grey--text pr-4">
                  <h3 style="font-size: 11px;color:#231F20">{{ parseFloat(product.price) }}5лв</h3>
                </v-col>
              </v-row>

          </v-card-text>
        </v-card>

      </v-slide-item>
    </v-slide-group>
  </section>
</template>

<script>
export default {
  name: 'ProductRecommendations',
  data: () => ({
    products: []
  }),
  methods: {
    fetchRecommendedProducts () {
      let self = this
      this.get(`menu/subcategory/7/items/get/skip/0`).then(r => {
        self.products = r.products
      })
    },
    redirectToProduct (product) {
      // this.startLoading()
      this.$EventBus.$emit('add-product', product)
    }
  },
  created () {
    this.fetchRecommendedProducts()
  }
}
</script>

<style scoped>

</style>
