<template>
  <section>

    <v-card rounded elevation="5" class="v-window-x-transition-enter-active" width="100%"
            @click="showDialog(product)"
            :to="`/${this.$route.params.place_id}/menu/${product.id}`">
      <v-img :src="product.img_url?product.img_url:`${$domain}imagecache/low/${product.image.substr(6,100)}`"
             :lazy-src="product.img_url?product.img_url:`${$domain}imagecache/low/${product.image.substr(6,100)}`"
      >

      </v-img>
    </v-card>
    <v-card style="transform: translateY(-25%)" max-height="100%" flat max-width="95%"
            class="mx-auto rounded-lg text-center"
            color="#232f3f">
      <v-btn   fab top right absolute x-small color="white" @click.prevent="">
        <v-icon x-small color="primary">
          mdi-heart
        </v-icon>
      </v-btn>
      <h1 style="font-size: 12px" class="pl-3 pt-1 text-left">{{ product.name }}</h1>
      <v-row justify="center" align-content="center">
        <v-col cols="6" class="text-left grey--text pl-3">
          <h3 style="font-size: 12px" class="pl-3">{{ product.weight }}гр</h3>
        </v-col>
        <v-col cols="6" class="text-right grey--text pr-3">
          <h3 style="font-size: 12px" class="pr-3">{{ product.price }}лв</h3>
        </v-col>


      </v-row>
      <v-btn-toggle style="background-color:#232f3f; max-width: 100%" group class="ma-auto">
        <v-btn outlined small @click="removeFromCart()">
          <v-icon small>mdi-minus</v-icon>
        </v-btn>
        <v-btn outlined @click.stop="" small class="elevation-5" rounded>
          {{ product.quantity > 0 ? product.quantity : '' }}
        </v-btn>
        <v-btn outlined small>
          <v-icon small @click="addToCart()">mdi-plus</v-icon>
        </v-btn>
      </v-btn-toggle>
    </v-card>
  </section>
</template>

<script>
import ProductRecommendations from './ProductRecommendations'

export default {
  name: 'Product',
  components: {
    appProductRecommendations: ProductRecommendations
  },
  props: ['product', 'dialog', 'recommendation'],
  data: () => ({
    truncate: true
  }),
  methods: {
    addToCart () {
      let order = JSON.parse(localStorage.getItem('order'))
      let found = false
      this.product.quantity++
      order.forEach(item => {
        if (item.id === this.product.id) {
          item.quantity++
          found = true
        }
      })
      if (!found) {
        order.unshift(this.product)
      }
      localStorage.setItem('order', JSON.stringify(order))
      this.$EventBus.$emit('add_to_order')
    },
    removeFromCart () {
      let order = JSON.parse(localStorage.getItem('order'))
      if (this.product.quantity > 0) {
        this.product.quantity--
        // order.push(this.product);
        order.forEach((item, i) => {
          if (item.id === this.product.id) {
            item.quantity--
            if (item.quantity <= 0) {
              order.splice(i, 1)
            }
          }
        })
        localStorage.setItem('order', JSON.stringify(order))
        this.$EventBus.$emit('remove_from_order')
        if (this.product.quantity < 1) {
          this.product.quantity = 0
        }
      }
    }
  }
}
</script>

<style scoped>
.centered-input >>> input {
  text-align: center;
}
</style>
