<template>
  <v-card color="#232f3f">
    <v-toolbar :src="p.img_url?p.img_url:`${$domain}${p.image}`"
               prominent extended min-height="30vh" max-height="30vh">
      <template v-slot:img>
        <v-img
          :src="p.img_url?p.img_url:`${$domain}${p.image}`"
          :lazy-src="p.img_url?p.img_url:`${$domain}${p.image}`"
          min-height="30vh"
          max-height="30vh"
          :aspect-ratio="16/9"
        >
        </v-img>
      </template>


      <v-btn icon @click="$router.back()">
        <v-icon>
          mdi-chevron-left
        </v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <app-cart-icon class="mt-3" :right="true" :fixed="true"></app-cart-icon>
    </v-toolbar>
    <v-card color="#232f3f">
      <v-btn
        color="white"
        fab
        dark
        absolute
        top
        right
        @click="addToFavourite()"
      >
        <v-icon color="secondary">mdi-heart</v-icon>
      </v-btn>

      <v-card-title>

        <span class="text-center mx-auto">{{ p.name }}</span>
      </v-card-title>

      <v-card-subtitle class="text-center" style="font-size: 18px">

        <v-rating
          :value="5"
          color="yellow darken-3"
          background-color="grey darken-1"
          empty-icon="$ratingFull"
        ></v-rating>
        <span class="text-right float-left font-weight-bold">{{ p.weight }}гр.</span>
        <span class="text-left float-right font-weight-bold">{{ p.price + '.50' }}лв.</span>
      </v-card-subtitle>
      <v-card-text class="pt-5">
        {{ p.description }}

      </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <v-col cols="12" class="text-center">
            <v-btn-toggle style="background-color:#232f3f">
              <v-btn outlined @click="removeFromCart">
                <v-icon>mdi-minus</v-icon>
              </v-btn>
              <v-btn outlined @click.stop="">
                {{ p.quantity }}
              </v-btn>
              <v-btn outlined @click="addToCart">
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </v-btn-toggle>
          </v-col>
          <v-col cols="12" class="text-center" style="max-width: 100vw;background-color: #232f3f">
            <app-product-recommendations></app-product-recommendations>
          </v-col>
        </v-row>
      </v-card-actions>
      <v-card-text>
        <h3 class="text-center"> {{ $t('rating') }}</h3>
        <!--            <h3 class="text-center">{{ place.rating }}</h3>-->
        <v-row>
          <v-col cols="6" class="my-auto">
            <v-row no-gutters>
              <v-col cols="12" class="mb-2">
                <h1 class="text-center" style="font-size: 24px">5</h1>
              </v-col>
              <v-col cols="6">
                <v-rating
                  :value="5"
                  color="yellow darken-3"
                  background-color="grey darken-1"
                  empty-icon="$ratingFull"
                  x-small
                  disabled
                  @change="dialog = true"
                  @click="dialog  = true"
                ></v-rating>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6">
            <v-row no-gutters>
              <v-col cols="1">
                <span>5</span>
              </v-col>
              <v-col cols="11" class="my-auto">
                <v-progress-linear
                  :value="100"
                  rounded
                  height="6"
                  color="primary"
                ></v-progress-linear>
              </v-col>
              <v-col cols="1">
                <span>4</span>
              </v-col>
              <v-col cols="11" class="my-auto">
                <v-progress-linear
                  :value="90"
                  rounded
                  height="6"
                  color="primary"
                ></v-progress-linear>
              </v-col>
              <v-col cols="1">
                <span>3</span>
              </v-col>
              <v-col cols="11" class="my-auto">
                <v-progress-linear
                  :value="80"
                  rounded
                  height="6"
                  color="primary"
                ></v-progress-linear>
              </v-col>
              <v-col cols="1">
                <span>2</span>
              </v-col>
              <v-col cols="11" class="my-auto text-center" >
                <v-progress-linear
                  :value="50"
                  rounded
                  height="6"
                  color="primary"
                ></v-progress-linear>
              </v-col>
              <v-col cols="1">
                <span>1</span>
              </v-col>
              <v-col cols="11" class="my-auto">
                <v-progress-linear
                  :value="20"
                  rounded
                  height="6"
                  color="primary"
                ></v-progress-linear>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
<!--        <v-list color="#232f3f">-->
<!--          <template v-for="rating in place.ratings">-->
<!--            <v-list-item two-line>-->
<!--              <v-list-item-content>-->
<!--                <v-list-item-title>-->
<!--                  <v-avatar  color="primary" size="45" >-->
<!--                    <v-img src="https://www.weact.org/wp-content/uploads/2016/10/Blank-profile.png"></v-img>-->
<!--                  </v-avatar>-->
<!--                  <span class="pl-3">{{ rating.user.name }}</span>-->
<!--                </v-list-item-title>-->
<!--                <v-list-item-subtitle>-->
<!--                  <v-row justify="center">-->
<!--                    <v-col cols="6">-->
<!--                      <v-rating-->
<!--                        :value="rating.rating"-->
<!--                        color="yellow darken-3"-->
<!--                        background-color="grey darken-1"-->
<!--                        empty-icon="$ratingFull"-->
<!--                        class="text-center"-->
<!--                        small-->
<!--                        disabled-->
<!--                        @change="dialog = true"-->
<!--                        @click="dialog  = true"-->
<!--                      ></v-rating>-->
<!--                    </v-col>-->
<!--                    <v-col cols="6" class="text-right mt-1">-->
<!--                          <span class="mt-5">-->
<!--                            {{ convertDate(rating.created_at, 'DD/MM/YYYY') }}-->
<!--                          </span>-->
<!--                    </v-col>-->
<!--                  </v-row>-->

<!--                  {{ rating.comment }}-->
<!--                </v-list-item-subtitle>-->
<!--              </v-list-item-content>-->
<!--            </v-list-item>-->
<!--          </template>-->
<!--        </v-list>-->
      </v-card-text>
    </v-card>
  </v-card>
</template>

<script>
import ProductRecommendations from './ProductRecommendations'
import CartIcon from '../../Navigation/icons/CartIcon'

export default {
  name: 'ProductDialog',
  props: ['product'],
  components: {
    appProductRecommendations: ProductRecommendations,
    appCartIcon: CartIcon
  },
  data: () => ({
    p: {}
  }),
  methods: {
    addToFavourite () {
      let self = this
      this.post('auth/favourites/add', {
        menu_item_id: this.product.id
      }).then(r => {
        self.showAlert('Добавено в любими')
      })
    },
    addToCart () {
      let order = JSON.parse(localStorage.getItem('order'))
      let found = false
      this.product.quantity++
      order.forEach(item => {
        if (item.id === this.product.id) {
          item.quantity++
          found = true
        }
      })
      if (!found) {
        order.unshift(this.product)
      }
      localStorage.setItem('order', JSON.stringify(order))
      this.$EventBus.$emit('add_to_order')
    },
    removeFromCart () {
      let order = JSON.parse(localStorage.getItem('order'))
      if (this.product.quantity > 0) {
        this.product.quantity--
        // order.push(this.product);
        order.forEach((item, i) => {
          if (item.id === this.product.id) {
            item.quantity--
            if (item.quantity <= 0) {
              order.splice(i, 1)
            }
          }
        })
        localStorage.setItem('order', JSON.stringify(order))
        this.$EventBus.$emit('remove_from_order')
      }
    }
  },

  created () {
    this.p = this.product
    this.$EventBus.$on('add-product', product => {
      this.p = product
    })
  },
  watch: {
    product (val) {
      this.p = val
    }
  }
}
</script>

<style scoped>

</style>
