<template>
  <v-app class="myFont">
    <app-menu-navigation :place="place"
                         v-if="routeIs('menu_categories') || routeIs('menu_subcategories') || routeIs('menu') "></app-menu-navigation>
    <app-user-navigation v-if="routeIs('Profile')"></app-user-navigation>
<!--    <app-place-navigation v-if="routeIs('places')" :place="place"></app-place-navigation>-->
    <v-app-bar app :color="show?'rgba(1,1,1,0.8)':'transparent'" flat id="scroll-target" v-if="routeIs('Home')">
      <v-scroll-y-transition>
        <v-text-field name="search" dense label="Име на заведението" rounded outlined color="primary"
                      class="mt-6 new-inp " v-show="search&& scroll > 50" ref="search"
                      v-model="filters.search"></v-text-field>
      </v-scroll-y-transition>
      <v-spacer v-if="!show"></v-spacer>

      <v-menu v-if="!show " class="text-none" left>
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" text v-bind="attrs"
                 class="text-none"
                 v-on="on">
            {{ ccity.name }}
            <v-icon>
              mdi-map-marker
            </v-icon>
          </v-btn>

        </template>
        <v-list style="background-color: rgba(1,1,1,0.5)" max-height="25vh" class="overflow-y-auto" v-if="scroll < 70">
          <v-list-item
            v-for="(city, index) in cities"
            :key="index"
            @click="ccity = city"
            class="text-none"
          >
            <v-list-item-title class="text-none">{{ city.name }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      <v-menu v-if="!show && user==null" class="text-none" left>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon color="primary" v-if="!show"
                 v-bind="attrs"
                 v-on="on">
            <v-icon>
              mdi-account-outline
            </v-icon>
          </v-btn>

        </template>

        <v-list style="background-color: rgba(1,1,1,0.5)" max-height="25vh" class="overflow-y-auto"
                v-if="scroll < 70">
          <v-list-item
            to="/auth/"
          >
            <v-list-item-title class="text-none text-left">User</v-list-item-title>
          </v-list-item>
          <v-list-item
            @click="redirect('https://host.bookit.bg/')"
          >
            <v-list-item-title class="text-none text-left">Place</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

      <v-btn text icon color="primary" x-large style="padding-bottom: 0.5px" @click="locale = 'en'" v-if="!show">BG</v-btn>
      <v-btn icon color="primary" v-if="!show && user" to="/profile">
        <v-icon>
          mdi-account-outline
        </v-icon>
      </v-btn>


      <v-tabs flat color="primary" grow v-show="show && !search " v-model="filters.type" dark>
        <v-tab>
          Restaurants
        </v-tab>
        <v-tab>
          Bars
        </v-tab>
        <v-tab>
          Clubs
        </v-tab>
      </v-tabs>

      <template v-slot:extension v-if="search && scroll > 50">
        <v-tabs flat color="#d4a26f" grow v-model="filters.type">
          <v-tab>
            Restaurants
          </v-tab>
          <v-tab>
            Bars
          </v-tab>
          <v-tab>
            Clubs
          </v-tab>
        </v-tabs>

      </template>

    </v-app-bar>


    <router-view v-if="routeIs('Home')" style="margin-bottom: 6vh" v-touch="{
    left: () => swipe('Left'),
      right: () => swipe('Right')
    }"></router-view>
    <v-slide-y-reverse-transition>
      <section
        v-if="menus && scroll > 50 && routeIs('Home')"
        v-model="menus"
        style="bottom: 7vh;right: 0;position: fixed;max-width: 50vw"
      >

        <v-select
          rounded
          background-color="white" prepend-inner-icon="mdi-map-marker" light style="color: black"
          class="primary-colorr text-left" v-model="ccity" :items="cities" return-object item-text="name"
          item-value="id"
          @click.stop="">

        </v-select>
        <v-select rounded background-color="white" prepend-inner-icon="mdi-silverware" light style="color: black"
                  class="primary-colorr" single-line>
        </v-select>
      </section>
    </v-slide-y-reverse-transition>

    <v-row justify="center" v-if="show && routeIs('Home')">
      <v-btn-toggle group

                    style="position: fixed;
                     bottom: 2%;
                     background-color:rgba(1,1,1,0.5);width:60vw" class="mx-auto rounded-pill">
        <v-btn to="/profile/" class="ml-5">
          <v-icon color="primary" large>
            mdi-map-search-outline
          </v-icon>
        </v-btn>
        <v-btn @click="search = !search" class="mx-auto">
          <v-icon color="primary" large>
            mdi-magnify
          </v-icon>
        </v-btn>
        <v-btn @click="menus = !menus" class="mr-5">
          <v-icon color="primary" large>
            mdi-tune-vertical
          </v-icon>
        </v-btn>
      </v-btn-toggle>
    </v-row>
    <v-main v-if="routeIsNot('Home')">


      <router-view></router-view>

    </v-main>
    <v-overlay :value="load" v-model="load" style="z-index: 9999" :absolute="true">
      <v-progress-circular
        indeterminate
        size="64"
      ></v-progress-circular>
    </v-overlay>
  </v-app>
</template>

<script>
import UserNavigation from './components/Navigation/UserNavigation'
import PlaceNavigation from './components/Navigation/PlaceNavigation'
import MenuNavigation from './components/Navigation/MenuNavigation'

export default {
  name: 'app',
  components: {
    appUserNavigation: UserNavigation,
    appPlaceNavigation: PlaceNavigation,
    appMenuNavigation: MenuNavigation
  },
  data: () => ({
    scroll: 0,
    show: false,
    menus: false,
    navigation: null,
    search: false,
    place: {},
    cities: [],
    ccity: {},
    locale: 'en',
    load: false
  }),

  methods: {
    onScroll () {
      this.scroll = window.scrollY
      this.showIfScrolled()
    },
    showIfScrolled () {
      if (this.scroll < window.screen.height - 200) {
        this.show = false
      } else {
        this.show = true
      }
    },
    fetcCities () {
      let self = this
      this.get('/cities').then(r => {
        self.cities = r.cities
        self.ccity = r.cities[0]
      })
    },
    swipe (direction) {
      if (direction === 'Left') {
        if (this.filters.type < 3) {
          this.filters.type++
        }
      } else {
        if (this.filters.type > 0) {
          this.filters.type--
        }
      }
    },
    autoLogin () {
      let app = this
      this.post('auth/me', {}, false).then(r => {
        app.user = r
        app.$store.commit('setUser', r)
      })
    }
  },
  mounted () {
    window.addEventListener('scroll', this.onScroll)
  },
  created () {
    this.$EventBus.$on('place-loaded', place => {
      this.place = place
    })
    this.$EventBus.$on('show', place => {
      this.show = true
      this.search = true
    })
    this.fetcCities()
    this.$EventBus.$on('loading', () => {
      this.load = true
    })
    this.$EventBus.$on('stop-loading', () => {
      this.load = false
    })
    this.autoLogin()
  },
  computed: {
    filters: {
      get () {
        return this.$store.getters.getFilters
      },
      set (val) {
        this.$store.commit('setFilters', val)
      }
    },
    user: {
      get () {
        return this.$store.getters.getUser
      },
      set (val) {
        this.$store.commit('setUser', val)
      }
    }
  },
  watch: {
    navigation (val) {
      if (val === 2) {
        this.menus = true
      }
    },
    scroll (val) {
      this.$store.commit('setDistance', val)
    },
    ccity (val) {
      this.filters.city = val.id
    },
    locale (val) {
      this.$i18n.locale = val
    }
  }
}
</script>

<style>

.new-inp fieldset {
  border-color: #AD974F;
}

/*.new-inp .v-text-field .v-input__slot label {*/
/*  color: #d4a26f !important;*/
/*}*/

.primary-colorr .v-input__icon .v-icon {
  color: black;
}

.v-tab::before {
  background-color: transparent;
}

.v-slide-group__prev--disabled {
  display: none !important;
}

.bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://pyxis.nymag.com/v1/imgs/6a3/f5a/1531262ea5b41618f51259628d6c484a56-party-covid.rsquare.w1200.jpg');
  background-size: cover;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  left: 0;
  /*background-color:rgba(27,27,27,1);*/
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

</style>
