<template>
  <v-container fluid>
    <v-btn icon style="position: absolute;top:2%;z-index: 999" @click="$router.back()">
      <v-icon>
        mdi-chevron-left
      </v-icon>
    </v-btn>
    <app-video-bg :sources="[require('../../assets/video.mp4')]" id="myVideo"
                  style="background-color: rgba(1,1,1,0.5)">
      <v-overlay :value="true">


        <router-view name="b">

        </router-view>


      </v-overlay>
    </app-video-bg>

  </v-container>
</template>

<script>
import VideoBg from 'vue-videobg'

export default {
  name: 'AuthPage',
  components: {
    appVideoBg: VideoBg
  }
}
</script>

<style scoped>
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {

  background: rgba(0, 0, 0, 0.5);
  /*color: #f1f1f1;*/

  /*height: 100%;*/


  /*padding: 20px;*/
}
</style>
