<template>
  <v-container fluid>
    <v-img :src="require('../../assets/logo_new.png')" max-height="200" max-width="280" contain
           style="position: fixed; top:0;-ms-transform: translateX(-50%);transform: translateX(-50%)"></v-img>

    <v-card color="transparent" style="box-shadow: none;bottom: 0px; position: fixed;left: 0" width="100vw">
      <v-col cols="12">
        <v-btn color="blue" class="rounded-xl text-none darken-2" block x-large style="font-size: 18px">
          <v-icon class="pr-2">mdi-facebook</v-icon>
          {{ $t('continue_with_facebook') }}
        </v-btn>
      </v-col>
      <v-col cols="12">
        <v-btn text to="/auth/login" class="rounded-l text-none"  block>{{ $t('continue_with_email') }}</v-btn>
      </v-col>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: 'Auth'
}
</script>

<style scoped>

</style>
