<template>
  <v-container fluid>
    <v-row align-content="center">
      <v-col lg="1" sm="12" class="mx-auto ma-auto">
        <v-img :src="require('../../assets/LogoText.png')" max-height="200" max-width="280" contain
               class="mx-auto"></v-img>
      </v-col>
      <v-col cols="12">
        <v-card-text>
          <v-row>
            <v-col cols="12">
              <v-text-field :label="$t('label_name_field')" type="text" v-model="name" v-if="register"></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field :label="$t('label_email_field')" type="email" v-model="email" dark></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field :label="$t('label_password_field')" type="password" v-model="password" dark></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field :label="$t('label_phone_field')" type="tel" v-model="phone" v-if="register"></v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-row>
            <v-col cols="12">
              <v-btn block color="primary" @click="login()" outlined rounded v-if="!register" class="text-none" large
                     style="font-size: 18px">
                {{ $t('button_login') }}
              </v-btn>
            </v-col>
            <v-col cols="12">
              <v-btn block color="white" @click="register = !register" outlined rounded v-if="!register"
                     class="text-none" large style="font-size: 18px">
                {{ $t('button_register') }}
              </v-btn>
            </v-col>
            <v-col cols="12" v-if="register">
              <v-btn block @click="registerr()" rounded color="primary" class="text-none" large style="font-size: 18px">
                {{ $t('button_register') }}

              </v-btn>
            </v-col>
            <v-col cols="12">
              <v-btn block text color="primary" class="text-none text-decoration-underline" large
                     style="font-size: 18px">
                {{ $t('button_forgot_password') }}

              </v-btn>
            </v-col>

            <!--              <v-col cols="12">-->
            <!--                <v-btn block color="blue" to="/register" outlined>Регистрация</v-btn>-->
            <!--              </v-col>-->
          </v-row>
        </v-card-actions>
      </v-col>
    </v-row>

  </v-container>
</template>

<script>
export default {
  name: 'Login',
  data: () => ({
    email: '',
    password: '',
    name: '',
    phone: '',
    register: false
  }),
  computed: {
    user: {
      get () {
        return this.$store.getters.getUser
      },
      set (val) {
        this.$store.commit('setUser', val)
      }
    }
  },
  methods: {
    login () {
      let app = this
      this.post(`auth/login`, {
        email: this.email,
        password: this.password,
        location: 'user'
      }, false).then(r => {
        app.showAlert('Успешен вход', false)
        localStorage.setItem('access_token', r.access_token)
        app.user = r
        app.$router.push('/profile')
      }).catch(e => {
        app.showAlert('Грешно потребителско име или парола', true)
      })
    },
    registerr () {
      let app = this
      this.post(`auth/register`, {
        email: this.email,
        password: this.password,
        name: this.name,
        phone: this.phone
      }).then(r => {
        localStorage.setItem('access_token', r.access_token)
        app.user = r
        app.$router.push('/profile')
      })
    },
    autoLogin () {
      let app = this
      this.post('auth/me', {}, false).then(r => {
        app.user = r
        app.$router.push('/profile')
      })
    }
  },
  created () {
    this.autoLogin()
  }
}
</script>

<style scoped>

</style>
