<template>
  <v-container fluid>

    <v-row align-content="center">
      <v-col lg="1" sm="12" class="mx-auto ma-auto">
        <v-img :src="require('../../assets/LogoText.png')" max-height="200" max-width="280" contain
               class="mx-auto"></v-img>
      </v-col>
      <v-col cols="12" class="text-center">
        <v-card-text>
          <v-row>
            <v-col cols="12">
              <v-text-field label="Име" type="text" v-model="name" required  :rules="[() => !!name || 'Това поле е задължително']"></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field label="Email" type="email" v-model="email" required></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field label="Парола" type="password" v-model="password" required></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field label="Телефон" type="tel" v-model="phone" required :rules="[
              () => !!phone || 'Това поле е задължително',
              () => !!phone && phone.length <= 10 || 'Телефонът трябва да бъде 10 цифри']"></v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
        <v-btn block @click="register" rounded color="primary">
          Регистрирай се

        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'Register',
  data: () => ({
    name: '',
    email: '',
    password: '',
    phone: ''

  }),
  methods: {
    register () {
      let app = this
      this.post(`auth/register`, {
        email: this.email,
        password: this.password,
        name: this.name
      }).then(r => {
        app.showAlert('Успешена регистрация', false)
        localStorage.setItem('access_token', r.access_token)
        this.$EventBus.$emit('next-step')
      }).catch(e => {
        app.showAlert('Грешно потребителско име или парола')
      })
    }
  }
}
</script>

<style scoped>

</style>
